.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.persons {
    padding: 0;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin: 2em auto;
}
.persons section {
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
}
.persons section.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.persons section:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.persons .text {
  position: relative;
  top: -3px;
}
.persons .badge {
    font-family: TitilliumSemibold;
    position: relative;
    top: -8.8em;
    left: 10em;
    color: white;
    background-color: #9E9E9E;
    height: 1.6em;
    line-height: 1.6em;
    width: 2em;
    border-radius: 0.2em;
}
.persons .name {
    position: absolute;
    font-family: TitilliumLight;
    font-size: 19px;
    margin: 10px;
    width: 9.5em;
    overflow: hidden;
}
.persons .image {
    width: 11em;
    margin: 0 auto;
    height: 8.4em;
    position: relative;
    top: 1.5em;
    overflow: hidden;
}
.persons img {
    height: 100%;

}
