<h1>{{title1}}</h1>

<div class="text-container text-container-first">
        <div [style.background]="colorValue[0]" class="block-container">
            <p class='first-text'>Container {{number[0]}} </p>
            <p> {{text}} </p>
            <button (click)="showImage = !showImage;">Toggle image</button>
            <img [style.display]='changeImage()' src="{{images[0]}}"/>
        </div>

        <div [style.background]="colorValue[1]" class="block-container">
            <p class='first-text'>Container {{number[1]}} </p>
            <p> {{text}} </p>
            <button (click)="showImage = !showImage;">Toggle image</button>
            <img [style.display]='changeImage()' src="{{images[1]}}"/>
        </div>

        <div [style.background]="colorValue[2]" class="block-container">
            <p class='first-text'>Container {{number[2]}} </p>
            <p> {{text}} </p>
            <button (click)="showImage = !showImage;">Toggle image</button>
            <img [style.display]='changeImage()' src="{{images[2]}}"/>
        </div>
</div>

<!-- the same first section with other Code -->
<div class="text-container text-container-first">
        <div *ngFor='let box of boxes; let i = index' [style.background]="box.color" class="block-container-multi">
            <p class='first-text'>Container {{box.id}} </p>
            <p>index {{i}} {{box.name}} </p>
            <button (click)="isShown[i] = !isShown[i];" >Toggle image {{box.id}}</button>
            <div class="image-wrapper">
                <img [style.display]="isShown[i] ? 'block' : 'none' " src="{{box.image}}"/>
            </div>
        </div>
</div>

<!-- create list of elements     -->
<div class="text-container">
    <h1>{{title}}</h1>
    <p>My favorite color is: {{myColor}}</p>

    <h2>Tour of Colors ({{mode}})</h2>
    <p>Colors:</p>
    <ul>
        <li *ngFor="let color of colors">{{color}}</li>
    </ul>
    <!-- <input #newColor
        (keyup.enter)="addColor(newColor.value)"
        (blur)="addColor(newColor.value); newColor.value='' "> -->
    <label>New color name: <input #newColor /></label>

    <button (click)="addColor(newColor.value); newColor.value=''" class='add-color'>Add</button>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

    <p *ngIf='colors.length > 3'>There are many colors!</p>
</div>


<!-- create text on input     -->
<div class="text-container">
    <p>Enter some text</p>
    <input #inputText (keyup)='onKey(inputText.value)'>
    <p>{{values}}</p>
</div>

<!-- create buttons that change colors -->
<div class="text-container">
    <div [style]="activeStyle"> change color </div>
    <button (click)="activeStyle='yellow'">yellow</button>
    <button (click)="activeStyle='red'">red</button>
</div>


<!-- create modal box  without separate window   -->
<div class="text-container">
    <div class="modal-content">
        <div class="photo-wrapper">
            <img src="">
        </div>
        <form #f="ngForm" class="modal-form" novalidate>
            <input type="text" placeholder="Name" name="inputName" [(ngModel)]="formData.inputName" #name="ngModel">
            <p>1. Are you available? {{availability}}</p>
            <input #available (click)='formData.availability=available.value' (change)='addOption=false; addCalendar=false' name='availability' type="radio" value="Yes">Yes<br>
            <input #notavailable (click)='formData.availability=notavailable.value' (change)='addOption=notavailable.checked' name='availability' type="radio" value="No">No<br>
            <div *ngIf="addOption" class="add-options">
                <p>2. What is the reason? {{option}}</p>
                    <input #holiday (click)='formData.option=holiday.value' (change)='addCalendar=holiday.checked' name='option' type="radio" value='holiday'>im Urlaub<br>
                    <input #trip (click)='formData.option=trip.value' (change)='addCalendar=trip.checked' name='option' type="radio" value='trip'>in der Geschäftsreise<br>
                    <input #ill (click)='formData.option=ill.value' (change)='addCalendar=ill.checked' name='option' type="radio" value='ill'>Krank<br>

                    <div *ngIf='addCalendar' class="calendar">
                        <p>3. Bis wann?</p>
                        <input type="text" placeholder="Date" [(ngModel)]="formData.inputDate" name="inputDate" >
                    </div>
            </div>
            <button (click)='getInputInfo()' type="submit" name="button">Submit</button>
            <p class="form-results">Results: {{formData.inputInfo}}</p>
        </form>
    </div>
</div>
